* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.resume {
  text-align: center;
  margin: 20px 0 0 0;
  background: silver;
  padding: 20px;
  border: 2px solid orange;
  border-radius: 8px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  margin-top: 10px;
  padding: 15px;
}

i {
  margin: 10px;
  color: black;
}

.careers-content {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.careers-content > h5 > a {
  text-decoration: none;
}
