*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

.navbar .container-fluid {
    margin: 0 420px;
}

.heading {
    text-align: center;
    background: black;
    color: #fff;
    padding: 10px;
}

.navbar > ul{
    margin-left: 40px;
}

.heading-2 {
    text-align: center;
    color: white;
    background: black;
    padding: 20px;
}

.privacy-policy{
    text-align: center;
    padding: 50px;
    background: #f6f6f6;
}



/* PRODUCTS */

.products {
    text-align: center;
    padding: 40px;
}

.sort {
    padding: 10px 58px;
    border-top: 2px solid #f9f9f9;
    border-bottom: 2px solid #f9f9f9;
}

/* REFUNDS & RETURNS */

.refunds{
    text-align: center;
    padding: 30px;
}

.refundUl{
    margin-left: 20%;
}

/* SIZE CHART */

.container{
    text-align: center;
    padding: 20px;
}





